body {
	background-color: blanchedalmond;
	font-size: 100%
}
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<style>
#Heading {
	font-family: 'Arvo', serif;
	padding: 1em;
}
.NavBar {
	font-family: 'Raleway', sans-serif;
	padding: 1em;
	float: left;
	width: 25%;
	text-align: justify;
}
h1 {
	margin: 0em;
	padding: 0em;
}
h2 {
	margin: 0em;
	padding: 0em;
}
.HomepageContent {
	margin: 0em;
	padding: 0em;
	float: left;
}
#RSSFeed {
	margin: 1em;
	padding: 1em;
	background-color: #F7E9CC;
}
#tabContainer {
	width: 30%;
}

#tabContainer a:hover {

}
#tabContainer a {
	width: 22%;
	background-color: darkblue;
	color: yellow;
	text-decoration: initial;
	display: inline-block;
	padding-left: .25em;
	padding-top: .5em;
	margin: .25em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
</style>
