body {
	background-color: #34103C;
	color: white;
	font-size: 100%
}
#Heading {
	font-family: 'Dancing Script', cursive;
	color: silver;
	padding: 0em;
	margin-left: 6em;
}
#SubHeading {
	padding: 0em;
	color: silver;
	margin-left: 6em;
}
.box {
	background-color: #3E6B7E;
	font-family: 'Vollkorn', serif;
	height: 50%;
	width: 60%;
	margin: 0em;
	margin-left: 6em;
	margin-right: .25em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .25em;
	padding-bottom: .5em;
	float: left;
	width: 15%;
	text-align: justify;
	text-decoration: underline;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
}
.box1 {
	background-color: #3E6B7E;
	font-family: 'Vollkorn', serif;
	height: 50%;
	width: 60%;
	margin: 0em;
	margin-left: 6em;
	margin-right: .25em;
	padding-left: .5em;
	padding-right: 4em;
	padding-top: .5em;
	padding-bottom: .5em;
	float: left;
	width: 15%;
	text-align: center;
	text-decoration: underline;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
}
h1 {
	margin: 0em;
	padding: 0em;
}
#tabContainer a:hover {
}
#tabContainer a {
	background-color: #3E6B7E;
	color: white;
	display: inline-block;
	text-align: justify;
	padding-left: 2.5em;
	padding-right: .5em;
	margin: .5em;
	margin-top: 0em;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;

}
.textbox {
	text-align: justify;
	height: 60%;
	width: 63%;
	padding: 2em;
	display: inline-block;
	background-color: #00314F;
	color: white;
	margin: .25em;
	margin-left: 6em;
	border: 1px solid;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
}
